.filiation {
  display: flex;
  justify-content: center;
  padding: 0.1rem;
  width: 100%;
  font-size: 0.75rem;
  height: 50dvh;
  flex-direction: column;
}

.filiation__info {
  background-color: var(--color-background);
  min-width: auto;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.filiation__info__header {
  background-color: var(--color-primary);
  padding: 0.4rem 20px;
  border-radius: var(--radius-md);
  color: var(--color-white);
  display: flex;
  justify-content: center;
}

.filiation__info__container-1 {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(3, 1fr);
}

.filiation__info__container-2 {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(2, 1fr);
}

.filiation__info__container-3 {
  display: grid;
  gap: 4px;
  grid-template-columns: 3fr 2fr;
}

.filiation__info__item {
  padding: 0.4rem 2rem;
  background-color: var(--color-secondary-soft);
  border-radius: var(--radius-md);
}

.filiation__info__item--alt {
  padding: 0.4rem 2rem;
  border-radius: var(--radius-md);
  background-color: var(--color-secondary);
}

.filiation__form-field {
  padding: 0.1rem 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.filiation__form-input {
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-lg);
  padding: 0.2rem;
  width: 100%;
  font-size: 0.75rem;
}
.filiation__form-label {
  white-space: nowrap;
}

.filiation__form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0.5rem 0;
}
