.filiation {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  margin-top: -200x;
  font-size: 18px;
  height: 50dvh;
}

.filiation__info {
  max-width: 1200px;
  min-width: 1000px;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.filiation__info__header {
  background-color: var(--color-primary);
  padding: 10px 20px;
  border-radius: var(--radius-md);
  color: var(--color-white);
  display: flex;
  justify-content: center;
}

.filiation__info__container-1 {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(3, 1fr);
}

.filiation__info__container-2 {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(2, 1fr);
}

.filiation__info__container-3 {
  display: grid;
  gap: 4px;
  grid-template-columns: 3fr 2fr;
}

.filiation__info__item {
  padding: 10px 40px;
  background-color: var(--color-secondary-soft);
  border-radius: var(--radius-md);
}

.filiation__info__item--alt {
  padding: 10px 40px;
  border-radius: var(--radius-md);
  background-color: var(--color-secondary);
}

.filiation__form-field {
  padding: 4px 40px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.filiation__form-input {
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-lg);
  padding: 5px;
  width: 100%;
  font-size: 18px;
}
.filiation__form-label {
  white-space: nowrap;
}
