.student-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  flex: 1;
  background-color: var(--color-secondary);
  padding: 20px;
  padding-top: 45px;
  display: flex;
  max-width: 100%;
}

.student-layout__content {
  background-color: var(--color-background);
  flex: 1;
  border-radius: var(--radius-lg);
  padding: 50px;
  padding-top: 3.5rem;
}
.student-layout__tabs {
  top: 120px;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 500px;
}
.student-layout__outlet {
  max-width: auto;
}
