.patient-card {
  background-color: var(--color-secondary);
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 382px;
  height: auto;
  max-height: 183px;
  padding: 18px 30px;
  gap: 20px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.patient-card__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.patient-card__name {
  max-width: 200px;
}

.patient-card--soft {
  background-color: var(--color-secondary-soft);
}

a {
  text-decoration: none;
  color: inherit;
}

.patient-card:hover {
  box-shadow: var(--shadow-lg);
  cursor: pointer;
  transform: translateY(-5px);
  transition: all 0.2s ease-in-out;
}
