@import '@fontsource/alexandria';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alexandria', sans-serif;
}

:root {
  --color-primary: #003b5c;
  --color-primary-soft: #00517e;
  --color-secondary: #779bbc;
  --color-secondary-soft: #b9cadb;

  --color-primary-hover: #003b5c;
  --color-secondary-hover: #567a99;
  --color-danger: #dc3545;
  --color-danger-hover: #a71d2a;

  --color-background: #e0e8eb;
  --color-text: #4e5a5b;
  --color-white: #ffffff;

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;

  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 6px 12px rgba(0, 0, 0, 0.15);
}
