.sidebar {
  width: 280px;
  background-color: var(--color-primary-soft);
  border-radius: var(--radius-lg);
  overflow: hidden;
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sidebar__tabs {
  top: 120px;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.sidebar__header {
  background-color: var(--color-primary-soft);
  padding: 30px 18px;
  text-align: center;
}

.sidebar__title {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.sidebar__nav {
  padding: 0px 14px 14px 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: transparent;
}
