.authlayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.authlayout__content {
  background-image: url('../img/fond1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.authlayout::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  z-index: 1;
}

.authlayout__login {
  background-color: white;
  padding: 3.5rem;
  border-radius: 8px;
  z-index: 2;
}
