.hc-layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: auto;
}

main {
  flex: 1;
  padding: 20px;
  padding-top: 45px;
  background-color: var(--color-secondary);
  display: flex;
}
.hc__patient {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
  font-size: 24px;
  max-width: 400px;
}

.hc-layout__content {
  background-color: var(--color-background);
  flex: 1;
  border-radius: var(--radius-lg);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 80px;
}

.hc-layout__content-wrapper {
  display: flex;
  background-color: var(--color-background);
  border-radius: var(--radius-lg);
  flex: 1;
}
