.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  width: 280px;
  border-radius: var(--radius-md);
  color: var(--color-primary);
  gap: 25px;
  background-color: var(--color-white);
  white-space: nowrap;
}

.tab--active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

a {
  text-decoration: none;
}
