.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75em 3em;
  border-radius: var(--radius-md);
  color: var(--color-primary);
  gap: 25px;
  background-color: var(--color-white);
  white-space: nowrap;
  font-size: 0.75rem;
}

.tab--active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.tab__container {
  flex: 1;
}

a {
  text-decoration: none;
}
