.anamnesis {
  display: flex;
  flex-direction: column;
}

.anamnesis__cards {
  padding: 0 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 40px;
  place-items: center;
  height: 100%;
}
