.student-content {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.student-content__tittle {
  padding-left: 40px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
}
