.student-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.student-content__tittle {
  padding-left: 40px;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
}

.student-content__patient {
  flex: 1;
}
